@import url('https://fonts.cdnfonts.com/css/poppins');

* {
  box-sizing: border-box;
}

.centered {
  display: grid;
  min-height: 20vh;
  place-items: center;
  background: #fff;
}

.animated-title {
  position: relative;
  font-size: 3em;
  font-weight: bold;
  overflow: hidden;
  border-radius: 4px;
  background: black;
  padding-left: 25px;
  padding-right: 25px;
  font-family: 'Poppins', sans-serif;
}

.animated-title:before {
  position: absolute;
  font-family: 'Poppins', sans-serif;
  content: "";
  inset: 0;
  background: #44295C;
  -webkit-animation: circle 2s infinite ease-out;
          animation: circle 2s infinite ease-out;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

.animated-title:after {
  position: absolute;
  content: var(--text);
  inset: 0;
  color: white;
  -webkit-animation: circle 2s infinite;
          animation: circle 2s infinite;
  -webkit-clip-path: circle(0%);
          clip-path: circle(0%);
}

@-webkit-keyframes circle {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}

@keyframes circle {
  0% {
    -webkit-clip-path: circle(0%);
            clip-path: circle(0%);
  }
  100% {
    -webkit-clip-path: circle(100%);
            clip-path: circle(100%);
  }
}